.ul{
    padding: 0 10px;
}

.item{
    list-style: none;
}

.notInfo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.36;
}